body {
  background: #35d67d;
}
* {
  border: 2px groove red;
  margin: 3px;
}
/* setting the flex contianers */
.container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  min-height: 85vh;
}
.pack {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
}
/* setting container sizes */
.pack div {
  width: 10em;
  height: 10em;
  flex-basis: 30%;
}
header, footer {
  width: 100%;
  height: 10vh;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pack {
    flex-direction: row;
    width: 80%;
    align-items: center;
  }
  footer {
    width: 50%;
    align-self: flex-end;
  }
}