/* build helpers */
* {
  border: 1px solid teal;
}
div {
  height: 100px;
}
body {
  background: blanchedalmond;
}
.container {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
}
a {
  width: 100%;
  margin: auto;
  display: flex;
}
.b {
  width: 60%;
  margin: auto;
  display: flex;
}
.c {
  width: 40%;
  margin: auto;
  display: flex;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .b {
    width: 100%;
  }
  .c {
    width: 100%;
  }
}